body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  user-select: none;
  overflow: visible;
}

.navbar {
  border-radius: 10px !important;
}

.navbar-toogler {
  color: white !important;
}

.navbar_btn {
  border-radius: 10px !important;
  border: none !important;
}

.logo {
  width: 35px;
  height: 35px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
}

label,
.number {
  font-size: 20px;
}

.btn {
  border-radius: 10px;
  border: 0.5px solid whitesmoke;
}

.accordion-body {
  overflow: auto;
}

.dt-button {
  border: none !important;
  color: white !important;
  background-color: #212529 !important;
  border-radius: 10px !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

input[type="search"] {
  border: 1px solid whitesmoke !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.dataTables_paginate {
  border: none !important;
  background-color: #212529 !important;
  border-radius: 10px !important;
  color: white !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.paginate_button {
  border: none !important;
  border-radius: 10px !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.modal-body {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid whitesmoke;
}

.title-left,
.title-left-two,
.title-left-three {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  width: 175px;
  bottom: -12px;
}

.title-left-two:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  width: 295px;
  bottom: -12px;
}

.title-left-three:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  width: 310px;
  bottom: -12px;
}

.form-control,
.form-select {
  border-radius: 10px;
  border: none;
  box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
